	/* css3 */
	 @-webkit-keyframes rotate_1 {
	  from { -webkit-transform-origin: 134px 134px;-webkit-transform: rotate(200deg);opacity:1;}	
	  50% { -webkit-transform-origin: 134px 134px;-webkit-transform: rotate(360deg);opacity:1;}	
	  to {-webkit-transform-origin: 134px 134px;-webkit-transform: rotate(360deg);opacity:0;}	
  	}
	  @-moz-keyframes rotate_1 {
		  from { -moz-transform-origin: 134px 134px;-moz-transform: rotate(200deg);opacity:1;}	
		  50% { -moz-transform-origin: 134px 134px;-moz-transform: rotate(360deg);opacity:1;}	
		  to {-moz-transform-origin: 134px 134px;-moz-transform: rotate(360deg);opacity:0;}	
	  }
	  
	  @-webkit-keyframes rotate_2 {
		  from { -webkit-transform-origin: center center;-webkit-transform: rotate(0deg);opacity:1;}	
		  to {-webkit-transform-origin: center center;-webkit-transform: rotate(360deg);opacity:1;}	
	  }
	  @-moz-keyframes rotate_2 {
		  from { -moz-transform-origin: center center;-moz-transform: rotate(0deg);opacity:1;}		
		  to {-moz-transform-origin: center center;-moz-transform: rotate(360deg);opacity:1;}	
	  }
  
	  @-webkit-keyframes jump_1 {
	  from { -webkit-transform-origin: bottom center;-webkit-transform: scale(0, 0);}	
	  90% { -webkit-transform-origin: bottom center;-webkit-transform: scale(1.05, 1.05);}
	  to { -webkit-transform-origin: bottom center;-webkit-transform: scale(1, 1);}
	  }
	  @-moz-keyframes jump_1 {
		  from { -moz-transform-origin: bottom center;-moz-transform: scale(0, 0);}	
		  90% { -moz-transform-origin: bottom center;-moz-transform: scale(1.05, 1.05);}
		  to { -moz-transform-origin: bottom center;-moz-transform: scale(1, 1);}
	  }
	  
	  @-webkit-keyframes jump_2 {
		  from { -webkit-transform-origin: bottom center;-webkit-transform: scale(0, 0);opacity:1;}	
		  90% { -webkit-transform-origin: bottom center;-webkit-transform: scale(1.05, 1.05);opacity:1;}
		  to { -webkit-transform-origin: bottom center;-webkit-transform: scale(1, 1);opacity:1;}
	  }
	  @-moz-keyframes jump_2 {
		  from { -moz-transform-origin: bottom center;-moz-transform: scale(0, 0);opacity:1;}	
		  90% { -moz-transform-origin: bottom center;-moz-transform: scale(1.05, 1.05);opacity:1;}
		  to { -moz-transform-origin: bottom center;-moz-transform: scale(1, 1);opacity:1;}
	  }
	  .flower-03,.flower-07{display: none;}
	  @media screen and (min-width:700px) {
	  		.flower-03,.flower-07{display: block;}
			.flower-03 {
				position: absolute;
				top: 90px;
				left: 207px;
				opacity: 0;
				-webkit-animation: jump_2 0.4s ease forwards;
				-moz-animation: jump_2 0.4s ease forwards;
				z-index: 26;
				-webkit-animation-delay: 1.1s;
				-moz-animation-delay: 1.1s;
				display: none	9;
				}
			.flower-03 img {
				-webkit-animation: rotate_1 12s infinite;
				-moz-animation: rotate_1 12s infinite;
				}
			.flower-07 {
			position: absolute;
			top: 29px;
			left: 880px;
			opacity: 0;
			-webkit-animation: jump_2 0.4s ease forwards;
			-moz-animation: jump_2 0.4s ease forwards;
			z-index: 11;
			-webkit-animation-delay: 1.5s;
			-moz-animation-delay: 1.5s;
			display: none	9;
			}
			.flower-07 img {
			-webkit-animation: rotate_2 17s infinite;
			-moz-animation: rotate_2 17s infinite;
			}
		}
	 